
# Ignore project build and test directories:
dist/
venv/
.venv/
docker/pipes/*
*.log

# Igonore compiled Python bytecode or other temporary files
*~
*.py[cod]

# Ignore genreated system files
*.DS_Store
[Tt]humbs.db

# Ignore GUI specific project directories and files
# kDevelop files
*.kdev4
.kdev4/
# VSCode
.vscode/
# JetBrains IDE
.idea/

